<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">

	<resultMap id="AdminMap" type="peachstore.domain.Admin">
	    <id property="adminId" column="admin_id"/>
	    <result property="email" column="email"/>
	    <result property="password" column="password"/>
	    <result property="name" column="name"/>
	    <result property="role" column="role"/>
	    <result property="isActive" column="is_active"/>
	</resultMap>


	<!-- 전체 조회 -->
	<select id="selectAll">
		select *
		from admin
	</select>
		
	<!-- pk로 조회 -->
	<select id="selectById" parameterType="int" resultMap="AdminMap">
		select *
		from admin
		where admin_id = #{value}
	</select>
	
	<select id="selectByLogin" parameterType="map" resultMap="AdminMap">
		select * from admin
		where email = #{email}
	</select>
</mapper>


