<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="peachstore.domain.ProductTopcategory" alias="ProductTopcategory" />
		<typeAlias type="peachstore.domain.ProductSubcategory" alias="ProductSubcategory" />
		<typeAlias type="peachstore.domain.User" alias="User"/>
		<typeAlias type="peachstore.domain.Inquiry" alias="Inquiry"/>
		<typeAlias type="peachstore.domain.InquiryImg" alias="InquiryImg"/>
		<typeAlias type="peachstore.domain.Product" alias="Product"/>
		<typeAlias type="peachstore.domain.Color" alias="Color"/>
		<typeAlias type="peachstore.domain.Size" alias="Size"/>
		<typeAlias type="peachstore.domain.ProductSize" alias="ProductSize"/>
		<typeAlias type="peachstore.domain.ProductColor" alias="ProductColor"/>
		<typeAlias type="peachstore.domain.ProductImg" alias="ProductImg"/>
		<typeAlias type="peachstore.domain.SnsProvider" alias="SnsProvider"/>
		<typeAlias type="peachstore.domain.UserGrade" alias="UserGrade"/>
		<typeAlias type="peachstore.domain.GradeCoupon" alias="GradeCoupon"/>
		<typeAlias type="peachstore.domain.Coupon" alias="Coupon"/>

      
   </typeAliases>

   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC" />
         <dataSource type="JNDI">
            <property name="data_source"
               value="java:comp/env/jndi/mysql" />
         </dataSource>
      </environment>
   </environments>


	<mappers>
		<mapper resource="peachstore/mybatis/ProductTopcategoryMapper.xml"/> 
		<mapper resource="peachstore/mybatis/ProductSubcategoryMapper.xml"/> 
		<mapper resource="peachstore/mybatis/UserMapper.xml"/>
		<mapper resource="peachstore/mybatis/InquiryMapper.xml"/>
		<mapper resource="peachstore/mybatis/InquiryImgMapper.xml"/>
		<mapper resource="peachstore/mybatis/ProductMapper.xml"/>
		<mapper resource="peachstore/mybatis/ColorMapper.xml"/>
		<mapper resource="peachstore/mybatis/SizeMapper.xml"/>
		<mapper resource="peachstore/mybatis/ProductColorMapper.xml"/>
		<mapper resource="peachstore/mybatis/ProductSizeMapper.xml"/>
		<mapper resource="peachstore/mybatis/ProductImgMapper.xml"/>
		<mapper resource="peachstore/mybatis/SnsProviderMapper.xml"/>
		<mapper resource="peachstore/mybatis/UserGradeMapper.xml"/>
		<mapper resource="peachstore/mybatis/GradeCouponMapper.xml"/>
		<mapper resource="peachstore/mybatis/CouponMapper.xml"/>
	</mappers>
</configuration>