<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderReceipt">

	<resultMap type="OrderReceipt" id="joinMap">
		<id column="order_receipt_id" property="order_receipt_id"/> 
		<result column="orderdate" property="orderdate"/>
		<result column="order_status" property="order_status"/>
		<result column="postcode" property="postcode"/>
		<result column="address" property="address"/>
		<result column="detail_address" property="detailAddress"/>
		
		<association column="user_id" property="user" javaType="User" select="User.selectById"/>
		
		<association property="tosspayment" javaType="Tosspayment">
			<id property="paymentId" column="payment_id"/>
			<result property="tossPaymentKey" column="toss_payment_key"/>
		    <result property="tossOrderId" column="toss_order_id"/>
		    <result property="totalAmount" column="total_amount"/>
		    <result property="tossPaymentMethod" column="toss_payment_method"/>
		    <result property="tossPaymentStatus" column="toss_payment_status"/>
		    <result property="requestedAt" column="requested_at"/>
		    <result property="approvedAt" column="approved_at"/>
		</association>
		
		 <collection column="order_receipt_id" property="orderList" javaType="java.util.List" ofType="OrderDetail" select="OrderDetail.selectByOrderReceiptId"/> 

	</resultMap>

	<select id="selectByUserId" parameterType="OrderReceipt" resultMap="joinMap">
		select order_receipt_id, orderdate, order_status, user_id 
		 from order_receipt where user_id = #{user.user_id} and trim(order_status) IN ('상품 준비 전', '상품 준비 중', '발송완료') order by order_receipt_id desc;
	</select>
	
	<select id="select" parameterType="OrderReceipt" resultMap="joinMap">
		select order_receipt_id, orderdate, order_status, user_id 
		from order_receipt where order_receipt_id = #{order_receipt_id} 
	</select>
	
	<!-- 주문 취소 -->
		<update id="cancle" parameterType="OrderReceipt">
			update order_receipt set order_status = '주문취소' where order_receipt_id = #{order_receipt_id}
		</update>
	
	<!-- 주문 취소 목록 -->
		<select id="cancleList" parameterType="OrderReceipt" resultMap="joinMap">
		select order_receipt_id, orderdate, order_status, user_id 
		 from order_receipt where user_id = #{user.user_id} and order_status = '주문취소' order by order_receipt_id desc;
	</select>
	
	<!-- 발송완료 목록 -->
	<select id="completedList" parameterType="OrderReceipt" resultMap="joinMap">
		select order_receipt_id, orderdate, order_status, user_id 
		 from order_receipt where user_id = #{user.user_id} and order_status = '발송완료' order by order_receipt_id desc;
	</select>
	
	<!-- 주문내역 생성 -->
	<insert id="insert" parameterType="OrderReceipt" useGeneratedKeys="true" keyProperty="order_receipt_id">
		insert into order_receipt(orderdate, order_status, user_id, payment_id, postcode, address, detail_address)
		values(#{orderdate}, #{order_status}, #{user.user_id}, #{tosspayment.paymentId}, #{postcode}, #{address}, #{detailAddress})
	</insert>
	
	
</mapper>