<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SnapShot">

	<select id="select" resultType="SnapShot">
		select snapshot_id, product_id, product_name, price, size, capacity, color, engraving, filename
		 from snapshot where snapshot_id = #{snapshot_id}
	</select>
	<resultMap id="SnapshotMap" type="SnapShot">
		<id column="snapshot_id" property="snapshot_id" />
		<result column="product_name" property="product_name" />
	</resultMap>

	<select id="selectAll" resultMap="SnapshotMap">
		SELECT
			*
		FROM snapshot
	</select>

	<insert id="insertSnapshots" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="snapshot_id">
    	INSERT INTO snapshot (product_id, product_name, price, size, capacity, color, engraving, filename)
    	VALUES
    	<foreach collection="list" item="item" separator=",">
        	(#{item.product_id}, #{item.product_name}, #{item.price}, #{item.size},
        	 #{item.capacity}, #{item.color}, #{item.engraving}, #{item.filename})
	    </foreach>
	</insert>

	<select id="selectSnapshotsByIds" resultType="SnapShot">
	    SELECT snapshot_id, product_id, product_name, price, size, capacity, color, engraving, filename
	    FROM snapshot
	    WHERE snapshot_id IN
    	<foreach collection="list" item="snapshot_id" open="(" separator="," close=")">
        	#{snapshot_id}
    	</foreach>
	</select>

</mapper>
