.wrapper1 {
	display: flex; /*카테고리, 테이블 좌우 정렬*/
	padding: 20px; /* 전체 여백 추가 */
	gap: 50px; /* 카테고리와 테이블 사이 간격 */
}

.wrapper2 {
	display: flex; /*등급, 리뷰 테이블 좌우 정렬*/
	gap: 30px; /* 간격 조정 */
	width: 1050px;
}

.sidebar__categories {
	padding-left: 50px;
	width: 210px;
	position: sticky; /*사이드 바 따라다니게*/
	top: 20px;
}

.grade-card {
	margin-top: 70px;
	background: #333333;
	color: white;
}

.review-card {
	margin-top: 70px;
	background: #333333;
  	color: white;
}

.table-card {
	margin-top: 100px;
}

.card-header {
	background-color: transparent !important;
	border-bottom: 1px solid black; /* 굵은 밑줄 추가 */
}

.table-card {
  border: none !important;
  box-shadow: none !important; /* 혹시 그림자도 없애고 싶으면 */
}


